<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e4551abc-5bf2-4d5b-a719-c51ec545d46a/resourcegroups/pausinha-rg/providers/Microsoft.Web/sites/pausinha-api</ResourceId>
    <ResourceGroup>pausinha-rg</ResourceGroup>
    <ApiResourceId>/subscriptions/e4551abc-5bf2-4d5b-a719-c51ec545d46a/resourceGroups/pausinha-rg/providers/Microsoft.ApiManagement/service/Pausinhaapiapi/apis/Pausinhaapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pausinha-api-exezetfcctcrc3gn.chilecentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>af0065ca-c39c-bba6-581d-e35720908882</ProjectGuid>
    <MSDeployServiceURL>pausinha-api-exezetfcctcrc3gn.scm.chilecentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pausinha-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>